body {
    background-image: url(/public/background.jpg);
    min-height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: 70px !important;
    padding: 50px !important;
    box-sizing: border-box;
}
.boxReg {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-top: 10px !important;
    padding: 50px !important;
    box-sizing: border-box;
}